<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Parameter Test">
        <classes>
<!--            <class name="LEARNTESTNG.TestNG_Basics.DataProviderBasics"/>-->
            <class name="TestNG_Practice.DataProviderDemo1"/>
        </classes>
    </test>
</suite>